<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>TextSum</title>
  <!-- <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> -->
  <link href="{{url_for('static', filename='css/hmpage.css')}}" rel="stylesheet">
</head>

<body>
  <img src="http://pngimg.com/uploads/glasses/glasses_PNG54343.png"/>
  <div class="result">
      {{ message }}
  </div>
  <div class= "buttons">  
    <!-- <input type="submit" value="Download" id="summarize"> -->
    <!-- <form method="get" action="file.doc">
      <button type="submit">Download</button>
    </form> -->
    <a href="/download/" target="blank">
      <button type="submit">Download</button>
    </a>
    <p></p>
    <a href="/">
      <button type="submit">Back</button>
    </a>
  </div>
</body>
</html>